* {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
}

p{
    font-size: 18px;
}

/*
.cont-carrusel{
    width: 80%;
    margin: 0 auto;
    justify-content: center;
}
    */
 .carrusel-img{
    height: 40rem;
    object-fit: cover;
}

.icon-width{
    width: 25px;
}

/*con esta clase puedo modificar los botones de sampling e historia*/
.btn-ir{
    background-color: #5A71C4;
    color:white;
}

footer{
    display: flex;
}