.btn-ir{
    background-color: $blue;
    color:white;
    display: block;
    @include medida (80%);
    margin: auto;
    @include sin-bordes;
}

.tarjeta-borde {
    @include sin-bordes;
}

.icon-width{
    @include medida (25px);
}

