.btn-ir{
    background-color: $blue;
    color:white;
    display: block;
    width: 80%; 
    margin: auto;
    border: none;
}

.tarjeta-borde {
    border: none;
}

.icon-width{
    width: 25px;
}

